<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser20" version="2.0.0.0" targetFramework="net45" />
  <package id="coveralls.io" version="1.1.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.2.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>