image: Visual Studio 2017
version: 1.4.1.{build}

skip_tags: true

configuration: Debug

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}"

nuget:
  disable_publish_on_pr: true

install:
  - nuget restore

build:
  project: coveralls.net.sln
  verbosity: minimal
